/* basic settings */
html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
}
*{
    box-sizing:border-box;
}
a:hover,
a:focus{
    text-decoration:none;
}
.wrapper{
    min-height:100%;
    overflow:hidden;
    position: relative;
}
.footer{
    height:360px;
    margin-top:-360px;
    position:relative;
}
.empty{
    height:360px;
}

/* main containers */
.jumbotron-bg {
    background: url("jumbotron-background.jpg") top center no-repeat;
    background-size: cover;
}
.content-indent{
    padding-top:250px;
}
.btn-container{
    height:253px;
    background:url(btn-container-bg.jpg)top center no-repeat;
    background-size: cover;
    padding:97px 0 0;
    box-shadow: 0 0 19px rgba(0, 0, 0, .5);
}
.blockquote-container{
    margin:58px 0;
}
.return-container{
    margin: 10px 0 40px;
}
.footer .row{
  height: 100%;
}
.prev-container,
.next-container{
    height: 100%;
    -webkit-transition:1s;
    -moz-transition:1s;
    -o-transition:1s;
    transition:1s;
    padding: 72px 0 0 66px;
    box-shadow:inset 0 0 200px 70px #000;
}
.prev-container{
    background: url("colored-prev-bg.jpg")top center no-repeat;
}
.next-container{
    background: url("colored-next-bg.jpg") top center no-repeat;

}
.next-prev{
    margin: 0 0 58px;
}
.prev-container:hover,
.next-container:hover{
    -webkit-transition:1s;
    -moz-transition:1s;
    -o-transition:1s;
    transition:1s;
    box-shadow:inset 0 0 200px 20px #000;
}
/* text, links */
.page-title-text,
.page-title-text a{
    color:#fff;
    text-shadow: 0 0 50px rgba(0,0,0, .5);
}
.secondary-text,
.page-title-text a:hover{
    color:#d7d7d7;
}
.text-bold{
    font-weight: bold;
}
.return-link{
    color: #a8a8a8;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
.return-link span{
    display:inline-block;
    width:100%;
}
.return-link:hover,
.return-link:focus {
    color:#d7d7d7;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
.prev-container a,
.next-container a{
    display:block;
    width:100%;
    height: 100%;
}
/* buttons */
.btn-more-info{
    color:#2ecc71;
    border:2px solid #2ecc71;
    border-radius:60px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
.btn-more-info span{
    margin-right:6px;
}
.btn-more-info:hover,
.btn-more-info:focus{
    color:#d7d7d7;
    border:2px solid #d7d7d7;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
/* explicit classes */
.authors-photo{
    margin-left:6px;
}
.social-icons{
    margin-top:20px;
}